[core]
    excludesfile = ~/.gitignore_global

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
    default = current

# email address privacy
# https://help.github.com/articles/setting-your-commit-email-address-on-github/
[user]
    name = Roman Tomjak
    email = 6570684+romantomjak@users.noreply.github.com

[fetch]
    prune = true

[log]
    date = relative
