[core]
	excludesfile = /Users/romantomjak/.gitignore_global

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
    default = current

# email address privacy
# https://help.github.com/articles/setting-your-commit-email-address-on-github/
[user]
	name = Roman Tomjak
	email = 6570684+romantomjak@users.noreply.github.com
    signingkey = 98A2EDDA54CD0076

[gpg]
    program = /usr/local/MacGPG2/bin/gpg

[fetch]
    prune = true

[log]
    date = relative

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = /Users/romantomjak/.stCommitMsg
    gpgsign = true

[alias]
    co = checkout
    cane = commit --amend --no-edit
    pr = pull --rebase
    p = push
    po = push origin
    lo = log --oneline -n 10
    d = diff
    s = status
    br = branch
    cm = commit -m
