# defaults for all hosts
Host *

  # do not attempt public key authentication. when ssh is authenticating
  # via a public key, it sends the server all your public keys, one by one
  # until the server accepts one. this can be used to determine your identity
  PubkeyAuthentication no

  # force ssh to use identity files configured in ssh_config files.
  # this is used together with PubkeyAuthentication to form the following
  # ssh client configuration:
  #
  # Host example.com
  #   PubkeyAuthentication yes
  #   IdentityFile ~/.ssh/id_rsa
  #
  IdentitiesOnly yes

  # speeds up file transfers when available
  Compression yes

  # send TCP keepalives to the other side so that connection deaths are
  # properly noticed by the either side
  TCPKeepAlive yes

  # number server alive messages which may be sent without receiving any
  # messages back from the server. If, for example, ServerAliveInterval is
  # set to 10 and ServerAliveCountMax to 3, if the server becomes unresponsive,
  # ssh will disconnect after approximately 30 seconds
  ServerAliveCountMax 3

  # interval in seconds after which if no data has been received from the 
  # server, ssh will send a message to request a response from the server
  ServerAliveInterval 10
